
*.db
*.opendb
*.exe
*.ilk
*.pdb
*.log
GAME3001-M2020-Lab9-Starter/.vs/Template/v16/.suo
GAME3001-M2020-Lab9-Starter/bin/Debug/Template.exe
GAME3001-M2020-Lab9-Starter/bin/Debug/Template.ilk
GAME3001-M2020-Lab9-Starter/bin/Debug/Template.pdb
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Button.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/CollisionManager.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/DisplayObject.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/EndScene.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/EventManager.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/FontManager.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Game.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/GameController.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/GameObject.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Label.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/main.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Obstacle.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Plane.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Player.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/PlayScene.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Renderer.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Scene.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/ship.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/SoundManager.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Sprite.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/SpriteSheet.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/StartScene.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Target.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Template.log
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Template.tlog/CL.command.1.tlog
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Template.tlog/CL.read.1.tlog
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Template.tlog/CL.write.1.tlog
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Template.tlog/link.command.1.tlog
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Template.tlog/link.read.1.tlog
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Template.tlog/link.write.1.tlog
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Template.tlog/Template.lastbuildstate
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/TextureManager.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/UIControl.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/Util.obj
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/vc142.idb
GAME3001-M2020-Lab9-Starter/Template/Intermediate/Debug/vc142.pdb
